.movie-card{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width:50vw;
    height: 50vh;
    position: relative;
    width: 100%;
    &:hover{
        background-image: linear-gradient(black,black) !important;
        .content-div{
            transform: translate(-50%,0);
            img{
                transform: translate(-50%);
            }
        }
    }
}

.content-div{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 2s ease-in-out;
    .title{
        font-size: 2em;
        padding: 15px 0;
        text-align: center;
        p{
            margin: auto;
        }
    }
    .actors{
        font-size:1.3em;
        padding: 10px;
        text-align: center;
        p{
            margin: auto;
        }
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        .trailer-button,.user-button{
            border: 0;
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 35px;
            padding: 3%;
        }
        .trailer-button{
            color:white;
            background-color: rgb(186, 31, 31);
            &:hover{
                background-color: rgb(74, 17, 17);
                border: 1px solid white;
            }
        }
        .user-button{
            color:black;
            background-color: rgb(201, 197, 8);
            &:hover{
                background-color: rgb(166, 166, 19);
                border: 1px solid white;
            }
        }
    }
    .info{
        display: flex;
        padding: 10px 0;
        justify-content: space-around;
        flex-direction: row-reverse;
    }
    .img-div{
        height: 100%;
        position: absolute;
        left: -100%;
        img{
            height: 100%;
        }
    }
}
